

.tableContainer {
    padding: 50px 250px;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    
}

.tableForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 150px;
    
    h1 {
        padding: 30px 0;
    }
    textarea {
        background: transparent;
    }

    .submitTable {
        background: transparent;
        cursor: pointer;
        color: white;
        width: 150px;
        padding: 10px;
        border-bottom: 2px solid white ;
        border-top: 2px solid white;
        border-left: none;
        border-right: none;
        align-self: flex-end;
    }
    
    .columnInputWrapper {
        display: flex;
        gap: 30px;
        .firstColumnInput {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
        }
        .secondColumnInput {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
        }
        input {
            color: white;
            padding: 10px;
            background: transparent;
            border: 0.3px solid grey;
        }
        select {
            padding: 10px;
            background: transparent;
            border: 0.3px solid grey;
            color: grey;
        }
        
        
    }

}